<div class="search-container--layout">
    <div class="search-container--header">
        <span>Pokémon TSG</span>
    </div>
    <div class="search-container--body">
        <div class="search-container--input">
            <input type="text" [(ngModel)]="searchText"/>
        </div>
        <div class="search-container--filters">
            <div class="search-container--filters-items">
                <div>
                    Sort by name
                    <select [compareWith]="compareFn" name="sort-by-name" id="sort-by-name" [(ngModel)]="orderByName">
                        <option [ngValue]="sortItem" *ngFor="let sortItem of sortOptions; trackBy: trackBySortItem">{{sortItem.value}}</option>
                    </select>
                </div>
                <div>
                    Sort by number
                    <select [compareWith]="compareFn" name="sort-by-number" id="sort-by-number" [(ngModel)]="orderByNumber">
                        <option [ngValue]="sortItem" *ngFor="let sortItem of sortOptions; trackBy: trackBySortItem">{{sortItem.value}}</option>
                    </select>
                </div>
                <div>
                    <span>Only original 151 pokémon </span><input type="checkbox" [(ngModel)]="originalPokemon"/>
                </div>
            </div>
            <button (click)="searchCards()">Search</button>
        </div>
    </div>
</div>